<div class="container">
  <h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Failure</h1>
  <h1>Account not yet activated</h1>
  <p>Please look in your email for an activation link, or TODO TODO SEND ANOTHER ONE</p>
  <%= link_to 'Back', :back %>
</div>