<div class="alert alert-info">
  <p><strong>Please check your email for your email address confirmation link.</strong></p>
  <p>If you don't see one soon, check your spam folder or contact <%= mail_to 'grants@fireflyartscollective.org' %>.</p>
</div>


<p>Your login is: <%= @artist.email %></p>

<p>Thank you so much for registering to be an artist for Firefly Art Grants in <%= event_year %>!</p>
