<ol class="breadcrumb">
  <li>Artists</li>
  <li class="active">Overview</li>
</ol>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Email</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @artists.each do |artist| %>
  <tr>
    <td><%= artist.name %></td>
    <td><%= artist.contact_name %></td>
    <td><%= artist.email %></td>
    <td class="text-right">
      <div class="btn-group">
      <% if can? :show, artist %>
        <%= link_to 'View', artist_path(artist), class: 'btn btn-default' %>
      <% end %>
      </div>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
