<div class="container">
  <h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Almost there...</h1>
	<p>Please check your email (<%= @artist.email %>) for your account activation link.</p>
	<p>If you don't see one soon, check your spam folder or contact
	  <a href="mailto:grants@fireflyartscollective.org">grants@fireflyartscollective.org</a>
	</p>
</div>