<h1>Firefly Art Grants Activation</h1>

<p>Hi <%= @user.name %>, Click below to activate your account!</p>

<%= link_to "Activate", account_activation_url(@user.activation_token, type: @type, email: @user.email) %>
