<h1>Signup Success! YES!</h1>
Your login is: <%= current_admin.email %>
<br /><br />
You are a now an admin for Firefly Art Grants
<br />
<%= link_to "Cool", :controller => "admins", :action => "index" %>
