[[TITLE]],Burner Exchange Grant Contract
[[TITLE]],<%= @project %>
[[TITLE]],Dated: <%= @date %>

[[HEADING]],Overview

This artist agreement is between the artist and Firefly Arts Collective regarding the submitted proposal for <%= @project %>.

The artist, <%= @artist %>, desires to receive grant funding to bring <%= @project %> to the Firefly Arts Festival in July <%= @year %>; Firefly Arts Collective has agreed to provide funding in the amount of <%= @amount %> USD for the project as determined by the Art Grant Core.  The artist shall not make any changes to the size, shape, and/or design of the proposed project without obtaining approval
from a representative of Firefly Arts Collective's Art Core.

All parties agree to the terms presented below.  Violation of any of the following terms may result in:

  1. Forfeiture of the grant provided,
  2. Removal of the proposed piece from the event, and
  3. Repayment of all grant funds received by the artist for the project.

[[HEADING]],Funding
  1. The project <%= @project %> will be completed as described in the proposal.  The project will be deemed approved upon completion of the artist's and Firefly Arts Collective's signatures on this contract.

  2. Firefly Arts Collective will retain 25% of the grant funding as a performance deposit.  The first payment (75% of the total allotted funding) will be disbursed upon receiving the signed contract; the second payment (25% of the total allotted funding) will be disbursed upon completion of all requirements outlined in this document.
  
  3. The artist agrees that this grant of <%= @amount %> USD shall represent the total sum they will receive from Firefly Arts Collective and the artist hereby agrees to assume responsibility for any additional costs beyond the the grant amount incurred in the production of <%= @project %> for Firefly Arts Festival <% @year %>.

[[HEADING]],Events
  4. The artist agrees to meet the following schedule of events, under the given schedule:
[[SUBHEADING]],   Project Installation:
   The funded project will be completed and fully operational by sunset on <%= @install_day %>.  If the artist would like to arrive at Firefly Arts Festival before its official start date, the artist must apply for Early Arrival and comply with all Early Arrival policies.
   
   5. Transportation to and from Firefly Arts Festival will be offered by Firefly Arts Collective.  If the artist accepts this offer of transportation, the artist is expected to comply with all Art Truck policies and procedures.
   
   6. The artist agrees to furnish Firefly Arts Collective with documentation of the project, including one or more of the following: video files, audio recordings, and/or photographs of reasonable quality, in an accepted digital format.  'Reasonable quality' is to be determined by Firefly Arts Collective exclusively.  The artist hereby grants Firefly Arts Collective a non-revokable, non-transferable license to use these materials for promotional and informational purposes.

[[HEADING]]Liability
  7. The artist agrees to assume all responsibility for public safety as it pertains to the project at the Firefly Arts Festival, and the artist agrees to observe all safety measures Firefly Arts Collective may require.  The artist hereby releases, indemnifies, and holds harmless Firefly Arts Collective, its agents, and its associates from any claims and/or liability against Firefly Arts Collective, actual or threatened, occuring on behalf of the artist and/or any third party resulting from exposure to the project.

  8. The artist agrees not to hold Firefly Arts Collective responsible for injury and/or damage to the project caused by the negligent acts of third parties.  The artist further agrees that Firefly Arts Collective, its agents, and its associates may not be held responsible for any damage to, nor destruction of, the project, and the artist hereby waives any such claims. 

The artist hereby acknowledges that they have reviewed, understand, and agree to the terms set forth in this agreement.

[[SIGNATURES]],
