<%= link_to "Register as an artist", new_artist_path %> to access submit grant applications.

<h2>Have an account?</h2>

<div class="row">
  <div class="col-md-4">
    <%= render partial: 'form' %>
  </div>
</div>
