<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to "Register as an artist", new_artist_path %> to access and create grant submissions.

    <h2>Have an account?</h2>

    <%= render partial: 'form' %>
  </div>
</div>
