<%
admin_links = [
  ['Index', admins_path],
  ['Submissions', admins_submissions_path],
  ['Artists', admins_artists_path],
  ['Voters', admins_voters_path],
  ['Grants', grants_path]
]
%>
<ul class="nav nav-pills">
  <% admin_links.each do |text, path| %>
    <% if request.path == path %>
      <li role="presentation" class="active"><%= link_to text, path %></li>
    <% else %>
      <li role="presentation"><%= link_to text, path %></li>
    <% end %>
  <% end %>
</ul>
