<h1>Firefly Art Grants: <%= event_year %></h1>

<p>Are you an <%= link_to 'artist', new_sessions_artist_path %>?</p>

<p>Are you a member of the <%= link_to 'voting committee', new_sessions_voter_path %>?</p>

<p>Are you an <%= link_to 'administrator', new_sessions_admin_path %>?</p>
