<%= link_to "Register", voters_signup_path %> as a member of the voting committee.

<h2>Have an account?</h2>

<div class="row">
  <div class="col-md-4">
    <%= render partial: 'form' %>
  </div>
</div>
