<% if can? :new, Voter %>
  <%= link_to "Register", new_voter_path %> as a member of the voting committee.
<% end %>

<h2>Have an account?</h2>

<div class="row">
  <div class="col-md-4">
    <%= render partial: 'form' %>
  </div>
</div>
