<div class="alert alert-info">
  <p><strong>Verification Pending</strong></p>
  <p>Your application is still pending verification.  Please contact <%= mail_to 'grants@fireflyartscollective.org' %> with any questions.</p>
</div>
