<div class="alert alert-info">
  <p><strong>Please check your email for your email address confirmation link.</strong></p>
  <p>If you don't see one soon, check your spam folder or contact <%= mail_to 'grants@fireflyartscollective.org' %>.</p>
</div>


<p>Your login is: <%= @voter.email %></p>

<p>Thank you so much for applying to be on the voting committee for Firefly Art Grants in <%= event_year %>!</p>

<p>You will be notified via email if you are selected for the committee,
  and with further details as they become pertinent.</p>
<p>Thanks again!</p>
