<div class="container">
    <h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Failure!</h1>

    Activation link invalid, sorry :(

    <br /><br />

    Please try again or contact <a href="mailto:grants@fireflyartscollective.org">grants@fireflyartscollective.org</a> for help.

    <br /><br />

    <%= link_to "Back", :controller => @type, :action => "index" %>
</div>

