<% if @user&.activated? %>
  <ol class="breadcrumb">
    <li>Account activation</li>
    <li class="active">Confirmed!</li>
  </ol>

  <% if @type == "voters"%>
    <div class="alert alert-info">
      <p>You have successfully confirmed your email address. Please wait while we review your application, and then we'll send you an email with further details.</p>
    </div>
  <% else %>
    <div class="alert alert-success">
      <p>You have successfully activated your account, you may now log in!</p>
    </div>
  <% end %>
<% else %>
  <ol class="breadcrumb">
    <li>Account activation</li>
    <li class="active">Failed</li>
  </ol>

  <div class="alert alert-danger">
    <p><strong>Failure</strong>: activation link invalid or already used, sorry :(</p>
  </div>

  <div class="well">
    <p>Please try again or contact <%= mail_to 'grants@fireflyartscollective.org' %> for help.</p>
  </div>
<% end %>
