<div class="container">
    <h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Success!</h1>

    You have successfully activated your account, you may now log in!

    <br /><br />

    <%= link_to "Log In", :controller => @types, :action => "index" %>
</div>
