<div class="container">
  <h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Failure</h1>
  <h1>Account not yet activated</h1>
  <p>Please look in your email for an activation link, or contact <a href="mailto:grants@fireflyartscollective.org">grants@fireflyartscollective.org</a> for help. 
    <%# link_to "send a new one", account_activations_resend_activation_path(type: @type, email: @email) %></p>
  <%= link_to 'Back', :back %>
</div>