<div class="container">
    <h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Failure!</h1>

    Grant creation failed, check logs.

    <%= link_to "Back", :controller => "grants", :action => "index" %>
</div>
