<h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Failure!</h1>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end %>

Grant creation/modification failed, check logs.

<%= link_to "Back", grants_path %>
