<table class="text-right">
  <tr>
    <td>
      Requested:
    </td>
    <td>
      <%= number_to_currency grant_submission.requested_funding_dollars %>
    </td>
  </tr>
  <% if grant_submission.funded? %>
    <tr>
      <td>
        Granted:
      </td>
      <td>
          <%= number_to_currency grant_submission.granted_funding_dollars %>
      </td>
    </tr>
  <% end %>
</table>
