<table class="text-right">
  <tr>
    <td>
      Requested:
    </td>
    <td>
      <%= funding_requests_pretty(grant_submission) %>
    </td>
  </tr>
  <tr>
    <td>
    <% if grant_submission.funded? %>
      Granted:
    <% elsif grant_submission.granted_funding_dollars %>
      Proposed:
    <% elsif grant_submission.funding_decision %>
      Not Funding
    <% end %>
    </td>
    <td>
      <% if grant_submission.granted_funding_dollars %>
        <%= number_to_currency(grant_submission.granted_funding_dollars, precision: 0) %>
      <% end %>
    </td>
  </tr>
</table>
