<h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Error</h1>

<p>Grant submission creation/modification failed, please try again or contact <%= mail_to 'grants@fireflyartscollective.org' %>.</p>
