<div class="container">
    <h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Failure!</h1>

    Your attempt to modify an artist's grant failed.

    <%= link_to "Back", :controller => "admin", :action => "index" %>
</div>
