<div class="container">
    <h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Success!</h1>

    You have successfully modified some poor artist's grant for them.

    <br /><br />

    <%= link_to "Back", :controller => "admins", :action => "index" %>
</div>
