// Place all the styles related to the GrantSubmissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-body {
  overflow-x: scroll;
}

.btn-space {
  margin-left: 5px;
}

.fund-entry {
  display: inline;
  width: 25%;
}

.label-thin {
  padding: .1em .3em .1em;
}